*{margin: 0;padding:0}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-height: 1136px;
}

.box{
	width: 640px;
	height: 100%;
	max-height: 1136px;
	margin: 0px auto;
	background: url(../img/bg.jpg);
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	margin-left: -320px;
	
}
ul,li{list-style: none; border: 1px solid #cf5732; min-height: 100px; }
ul{ position: relative; margin: 0px auto; margin-top: 80px; background: #fff;}
li{
position: absolute; color: #fff; font-size: 40px; line-height: 200px; text-align: center;
background: #702a2a;
transition: top .2s,left .2s;
-moz-transition:  top .2s,left .2s;	
-webkit-transition:  top .2s,left .2s;	
-o-transition:  top .2s,left .2s;
}

#btn{display:block;margin: 50px auto;width: 150px; height: 40px; font-size: 24px; background: #f0cfc0; color:#9f3e47; border: none; border-radius: 8px;}
#hidden{opacity: 0;}
#step,#time{width: 200px; height: 40px; font-size: 24px; position: absolute; top: 20px; color:#fff;}
#step{left: 20px; text-align: left;}
#time{ right: 20px; text-align: right;}

